<!doctype html>
<html lang="en">
{% load static %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <title>{% block title %} {% endblock title %}</title>
</head>

<body>
  <section>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Travelish</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {% block homeactive %}  {% endblock homeactive %}">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item {% block aboutactive %}  {% endblock aboutactive %}">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item {% block contactactive %}  {% endblock contactactive %} ">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item {% block blogactive %}  {% endblock blogactive %} ">
            <a class="nav-link" href="/blog">Blog</a>
          </li>

        </ul>
        <form method="get" action="/search" class="form-inline my-2 my-lg-0 mx-3">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query"
            id="query">
          <button class="btn btn-outline-success my-2 my-sm-0 " type="submit">Search</button>
        </form>
      </div>
      <!-- Button to  trigger SignUp modal -->

      <!-- Button to  trigger Login modal -->
    </nav>
  </section>
  <section>
    <br>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Delhi</h5>
            <p class="card-text" >The Capital State of India </p>
            <a href="/delhi" class="btn btn-primary">Click here!</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Punjab</h5>
            <p class="card-text">The state of welcome and affection</p>
            <a href="#" class="btn btn-primary">Click here!</a>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Uttarakhand</h5>
            <p class="card-text">The state of temples..</p>
            <a href="#" class="btn btn-primary">Click here!</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Goa</h5>
            <p class="card-text">The state of fun,thrill and beaches. </p>
            <a href="#" class="btn btn-primary">Click here!</a>
          </div>
        </div>
      </div>
    </div>
    <br>

  </section>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>

</html>